/*Colors
black:#090101 blue:#5ba4e5 gray:#E1E1E1 green:#85c446 orange:#ff9933 red:#ed1c24 white:#ffffff yellow:#ffcc2f*/
.bk{background-color:#090101;color:#ffffff;}
.bk a{color:#fff;}
.bk p{color:#fff;}
.bl{background-color:#5ba4e5;color:#fff;}
.gy{background-color:#85c446;color:#090101;}
.gr{background-color:#85c446;color:#090101;}
.or{background-color:#ff9933;color:#090101;}
.re{background-color:#ed1c24;color:#fff;}
.ye{background-color:#ffcc2f;color:#090101;}

/*Components*/
a{text-decoration:none;color:#090101;}
article{width:80%;height:900px;float:left;width-right:5px;}
aside{width:10%;min-height:900px;float:left;}
button{font-family: 'Open Sans',sans-serif;}
button{width:100px;height:30px;margin:5px;}
body{background-color:#ffffff;margin:0;font-family: 'Open Sans', sans-serif;font-size:14px;}
footer{width:100%;height:30px;margin:0;background-color:#090101;clear:both;;position:relative;}
header{margin:0;height:30px;}
hr{background-color:black;width:80%;}
nav{width:10%;float:left;}
nav ul a li:hover{background-color:#E1E1E1;}
p{margin:0;}
ul{list-style:none;padding-left:10px;}

.bar{height:50px;background-color:#ffffff;}
.bbor{border-bottom:1px solid gray;}
.box{width:82px;height:82px;float:left;position:relative;margin-left:5px;margin-top:5px;margin-bottom:5px;}
.box p{position: absolute;font-size:25px;word-wrap:break-word;text-align:center;margin:0;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);}
.btn{padding:10px;border-radius:5px;margin:0px;max-height:40px;}
.button{padding:10px;background-color:#86b5f6;width:auto;border-radius:5px;text-transform:uppercase;height:40px;}
.card{width:20%;height:auto;  border-radius:5px;overflow:auto;margin-left:5px;border:.5px solid #85c446;float:left;margin-bottom:5px;}
.card ul{list-style-type:none;margin:0;padding:5px;}
.cardbody{background-color:#fff;}
.cardrss{width:50%;height:auto;  border-radius:5px;overflow:auto;margin-left:5px;border:.5px solid #85c446;clear:both;float:left;margin-bottom:5px;}
.cardtitle{padding:10px;background-color:#85c446;color:#000;text-transform:uppercase;overflow:auto;}
.center{justify-content:center;}
.clear{clear:both;}
.content{width:90%;position:relative;}
.c2{overflow:visible;width:20%;height:40px;}
.c3{overflow:auto;width:30%;min-height:40px;}
.c5{overflow:auto;width:50%;min-height:40px;}
.c8{overflow:visible;width:80%;min-height:40px;margin:0px;padding:0px;}
.c10{overflow:visible;max-height:40px;}
.items{list-style-type:none;padding:0;margin:10px;}
.items li{display:inline;}
.label{padding:5px;background-color:#ff7f7f;width:auto;border-radius:2px;text-transform:uppercase;text-align:center;font-weight:bold;font-size:12px;}
.logo{font-size:20px;float:left;padding:10px;}
.m{display:none;}
.menu ul li{display:inline;}
.menu ul li a{padding:5px;}
.row{width:100%;clear:both;min-height:30px;}
.rss{height:auto;}
.rss ul{list-style-type:none;margin:0;padding:5px;}
.rss ul li{padding:2px;}
.rss ul li a{font-size:100%;}
.side{width:10%;height:500px;background-color:#E1E1E1;overflow:auto;padding-bottom:500px;float:left;}
.side p{text-align:center;}
.side ul{list-style:none;}
.sideH{padding-left:5px;margin:0;}
.side ul{padding:5px 0px 0px 15px;margin:0;}
.small{overflow:auto;}
.top{height:50px;background-color:#E1E1E1;}
.top ul{list-style:none;margin:0;padding:0;}
.top ul li{display:inline;}

#links{background-color:#000;}
#links a{color:white;bottom-border:1px solid gray;}
#rside{height:155px}

.dropdown {position: relative;display: inline-block;padding;0px;}
.dropdown .dropdown-menu {position: absolute;top: 100%;display: none;margin: 0;list-style: none;width: 100%; padding: 0;}
.dropdown:hover .dropdown-menu {display: block;padding:0px;}
.dropdown button {border: none;margin-top: 5px;padding: .4em .9em;font-size: .9em;height:43px;}
.dropdown a {display: block;padding: 0.2em 0.8em;text-decoration: none;background: #fff;color: #000;}
.dropdown a:hover {background: #fff;}

@media (max-width: 600px) {
  nav{display:none;}
  .card{width:45%;}
  .cardrss{width:95%;}
  .d{display:none;}
  .m{display:initial;}
  .menu{display:none;}
  .row{width:auto;}
  .top{width:100%;}
}
